*{
	margin:0;
	padding:0;
}
ul,ol{
	list-style: none;
}
.clearfix:after{
	content:"";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}
.head{
	width:960px;
	height:85px;
	background:url(../img/01.jpg) no-repeat;
	background-size:100%;
	margin:0 auto;
	position:relative;
}
.one{
	width:100%;
	height:550px;
	position:relative;
	background:url(../img/bg11.jpg) no-repeat;
	background-size:100% 100%;
}
.one .one-s{
	width:960px;
	height:550px;
	position:relative;
	margin:0 auto;
}
.one .one-s .one-to{
	position:absolute;
	top:0;
	left:0;
	width:960px;
	height:50px;
	color:lightblue;
}
.one .one-s .one-to .one-to-o{
	float:left;
	line-height:50px;
}
.one .one-s .one-to .one-to-t{
	float:right;
	line-height:50px;
}
.one .one-s .one-to .one-to-t>li{
	float:left;
	margin-left:30px;
}
.one .one-s .one-ce{
	width:130px;
	height:130px;
	position:absolute;
	top:100px;
	left:50%;
	margin-left:-65px;
	border-radius:50%;
	overflow: hidden;
}
.one .one-s .one-ce>img{
	margin-left:-20px;
}
.one .one-s .one-cs{
	width:280px;
	height:130px;
	position:absolute;
	top:200px;
	left:50%;
	margin-left:-140px;
	text-align: center;
	line-height: 130px;
	font-size:30px;
	color:#fff;
}
.one .one-s .one-cp{
	width:600px;
	height:230px;
	position:absolute;
	top:350px;
	left:50%;
	margin-left:-300px;
	text-align: center;
	font-size:18px;
	color:#fff;
}
.one .one-s .one-cp>div{
	float:left;
	width:200px;
	height:50px;
	text-align: center;
	line-height: 36px;
}
.two{
	width:600px;
	height:auto;
	margin:70px auto 0 auto;
	position:relative;
	background-size:100% 100%;
}
.two>h3{
	width:600px;
	height:auto;
	margin:0 auto;
	text-align: center;
	
}
.two .two-cont{
	margin-top:40px;
	color:#777;
	text-indent:46px;
}
.three{
	width:800px;
	height:auto;
	margin:70px auto 0 auto;
	position:relative;
	background-size:100% 100%;
}
.three>h3{
	width:800px;
	height:auto;
	margin:0 auto;
	text-align: center;
	
}
.three .three-cont{
	width:800px;
	margin-top:40px;
}
.three .three-cont>div{
	width:370px;
	height:300px;
	margin-left:30px;
	margin-top:30px;
	float:left;
}
.three .three-cont>div:nth-of-type(1){
	margin-left:0px;
}
.three .three-cont>div:nth-of-type(3){
	margin-left:0px;
}
.three .three-cont>div>img{
	width:100%;
	height:100%;
}
.font{
	margin-top:150px;
	width:100%;
	height:70px;
	background:#F2F2F2;
	position:relative;
	overflow:hidden;
}
.font .font-s{
	width:1100px;
	margin:0 auto;
	height:70px;
}
.font .font-l{
	float:left;
}
.font .font-l>div{
	float:left;
	line-height: 70px;
	margin-left:30px;
}
.font .font-r{
	float:right;
	line-height: 70px;
}
